body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
}

.header {
    background-color: #1f2937;
    padding-bottom: 150px;
}

.header-top {  
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    gap: 570px;
}

.links {
    display: flex;
    gap: 16px;
}

.logo {
    
}

.header-link {
    margin-top: 20px;
    color: #e5e7eb;
}

.header-body { 
    display: flex; 
    gap: 10px;
    justify-content: center;
}

.header-title {
    font-size: 48px;
    font-weight: 700;
    width: 300px;
}    

.header-text {
    margin: 16px 0;
    font-size: 18px;
}

button {
    padding: 6px 32px;
    border-radius: 6px;
    color: white;
    background-color: #3882f6;
}

.header-image {  
    display: flex;
    flex: 1;
    background-color: gray;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.hover {

}

.body {
  background-color: white; 
  text-align: center;
  padding-bottom: 100px;
}

.body-title {
  font-size: 36px;
  font-weight:800;
  padding: 32px;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  flex-wrap: wrap;
}

.info {
    width: 200px;
}

.facts {
  margin: 10px;
}

.body2 {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.body2-container {
    font-size: 32px;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    font-style: italic;
}

.quoter {
   font-size: 18px;
   align-self: flex-end;
   font-weight: bold;
   font-style: normal;
}

.footer-container {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  margin: 50px 200px;
  padding: 40px 0;
  border-radius: 8px;
  gap: 100px;
  align-items: center;
}

.footer-text {
   font-size: 22px;
   font-weight: 600;
}

.white-text {
    color: white;
}

.photo {
    border: #3882f6 solid 3px;
    border-radius: 8px;
}

.button1 {
    border-color: transparent;
}

.button2 {
    border: 2px solid #ffffff;
}
