

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}

img {
    width: 200px;
    height: auto;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding-bottom: 150px;
}

.header-top {  
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    gap: 570px;
}

.links {
    display: flex;
    gap: 16px;
}

.logo {
    
}

.header-link {
   margin-top: 20px;
    color: #e5e7eb;
}

.header-body { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px;
}

.header-container {
    margin-left: auto;
}

.header-title {
    font-size: 48px;
    font-weight: 700;
    width: 300px;
}    

.header-text {
    margin: 16px 0;
    font-size: 18px;
}

button {
    padding: 6px 32px;
    border-radius: 6px;
    color: white;
    background-color: rgb(54, 72, 208);
}

.header-image {  
    display: flex;
    flex: 1;
    background-color: gray;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin-right: auto;
}

.header-image-text {
    display: flex;
}

.hover {

}

.body {
  background-color: white; 
  text-align: center;
  display: flex;
  flex-direction: column;
}

.body-title {
  font-size: 36px;
  font-weight:800;
  padding: 32px;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  flex-wrap: wrap;
}

.info {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts {
  margin: 10px;
}

.body2 {
  background-color: #e5e7eb;
  display: flex;

  justify-content: center;
}

.body2-container {
    font-size: 32px;
    font-weight: lighter;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    font-style: ;
}

.quoter {
   font-size: 18px;
   display: flex;
   align-self: flex-end;
   font-weight: bold;
}

.footer {
 
}

.footer-container {
 
}

.footer-left {

}

.footer-text {
   
}

.footer-text2 {
 
}

.white-text {
    color: white;
}

.photo {
    border: blue solid 3px;
    border-radius: 8px;
}
